# Copyright (c) 2025 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_DESOLATION

config ZMK_KEYBOARD_NAME
    default "Desolation"

config ZMK_POINTING
    default y

config SPI
    default y

endif
